.idea/
*.swp
*.log

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Python virtual environments
venv/
.venv/
env/
.env/

# Build artifacts & Debian packages
*.deb
build_deb/
build/
dist/
*.egg-info/

